@import "config";

/* BEM support Func
 -------------------------- */
// 获取选择器
@function selectorToString($selector) {
  $selector: inspect($selector);
  //slice截取方法：用负数当参数，相当于是length+start,length+end.
  // var s = "abcdefg"; s.slice(3,-2)   // Returns "de"
  $selector: str-slice($selector, 2, -2);
  @return $selector;
}

// 是否包含修饰符
@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, $modifier-separator) {
    @return true;
  } @else {
    @return false;
  }
}

// 判断是否为包含状态标识
@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, '.' + $state-prefix) {
    @return true
  } @else {
    @return false
  }
}

// 判断是否包含伪类
@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ':') {
    @return true
  } @else {
    @return false
  }
}
// 判断是否存在特殊的嵌套
@function hitAllSpecialNestRule($selector) {

  @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}
