/* 工具栏方法 */

// 设置或检索是否允许用户选中文本
/*
user-select：none |text| all | element
默认值: text
none: 文本不能被选择
text: 可以选择文本
all: 当所有内容作为一个整体时可以被选择。如果双击或者在上下文上点击子元素，那么被选择的部分将是以该子元素向上回溯的最高祖先元素
element: 可以选择文本，但选择范围受元素边界的约束
*/
@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}
