/* UI颜色常量定义 */
// !default指定变量默认值

/* Color
-------------------------- */
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;

/* Button
-------------------------- */
$--button-active-shade-percent: 10% !default;
